  <!DOCTYPE html>
  <html>
    <body>


  <div class="row">
    <div class="span6">
    	<%= link_to image_tag("imageduck.png", class: "img-polaroid", alt: "duck"), 
    		"http://imageduck.org" %>

    <%= render 'form' %>

	</div>
    <div class="span4">
      <h2>About</h2>
      ImageDuck.Org is a simple image host.  Simply select the image from your computer and upload it.  Copy and paste the url to show someone, or embed the thumbnail in a website or forum.

      This website was made for fun as an experiment in one day.
      If you find any errors, please let me know at admin@imageduck.org

 
    </div>
  </div>




    </body>
  </html>

