  <div class="row">
    <div class="span6">
    <%= render 'pix' %>
	</div>
    <div class="span4">
      <h2>Sponsored Links</h2>
      <p>
      	<a href="http://fanfusion.org/links/banner300x250.html" target="_blank"><img src = "http://fanfusion.org/links/banner300x250.png"></a>
		</p>        
    </div>
  </div>


